@use '../../../global';

div {
  background-color: global.$square;
  width: 300px;
  height: 100px;
  float: left;
  margin: 2em;
  text-align: center;
}

h3 {
  height: 100px;
  width: 300px;
  line-height: 100px;
  vertical-align: middle;
  clear: both;
  text-align: center;
  font-size: 1.1em;
  margin: 0px;
}

div:hover {
  background-color: global.$hover;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}
